
.fundoBuques1{
    background-image: url(../imagens/buques/fundoBuques3.png);
    width: 100%;
    height: 35vw;
    
}

.fundoBuques2{
    background-image: url(../imagens/buques/fundoBotoes2.png);
    width: 100%;
    height: 35vw;
   
}

.fundoBuques3{
    background-image: url(../imagens/buques/fundoBuques3.png);
    width: 100%;
    height: 35vw;
   
}

.fundoBuques4{
    background-image: url(../imagens/buques/fundoBuques4.png);
    width: 100%;
    height: 35vw;
   
}

.fundoBuques5{
    background-image: url(../imagens/buques/fundoBotoes1.png);
    width: 100%;
    height: 35vw;
}

.imagensBuques{
    border: 1px solid black;
    width: 18vw;
    height: 24vw;  
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


.caixaBotao button{
    padding: 1vw;
    width: 10vw;
    top: 1.5vw;
    margin-left: 5.5vw;
    border-radius: 10px;
    background-color: #F2E205;
    border: 1px solid black;
}

.caixaBotao a{
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.caixaBotao button:hover{
    cursor: pointer;
    background-color: #ffee0081;
    padding: 1.2vw;
}

#margem{
    margin-bottom: 4vw;
}


@media screen and (max-width:768px){

    .caixaRetangulo{
        background-image: none;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .imagensBuques{
        display: block;
        border: 1px solid black;
        width: 40vw;
        height: 30vw;  
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vw;
        margin-bottom: 4vw;
    }
    
    
    .caixaBotao button{
        padding: 1.5vw;
        width: 20vw;
        top: 0vw;
        margin-left: 0vw;
        border-radius: 10px;
        background-color: #F2E205;
        border: 1px solid black;
    }
    
    .caixaBotao a{
        display: block;
        text-decoration: none;
        color: black;
        font-size: 3vw;
    }
    
    .caixaBotao button:hover{
        cursor: pointer;
        background-color: #ffee0081;
        padding: 1.7vw;
    }

    #margem{
        margin-bottom: 25vw;
    }

    .fundoBuques1{
        background-image:none;
        text-align:center;
        width: 100%;
        height: 35vw;
        
    }
    
    .fundoBuques2{
        background-image:none;
        text-align:center;
        width: 100%;
        height: 35vw;
       
    }
    
    .fundoBuques3{
        background-image:none;
        text-align:center;
        width: 100%;
        height: 35vw;
       
    }
    
    .fundoBuques4{
        background-image:none;
        text-align:center;
        width: 100%;
        height: 35vw;
       
    }
    
    .fundoBuques5{
        background-image:none;
        text-align:center;
        width: 100%;
        height: 35vw;
    }

}

