#gif2{
    width: 100%;
}

.caixaTexto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.titulosH1{
    margin-left: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vw;
}

.titulosH2{
    margin-top: 2vw;
    margin-bottom: 2vw;
    position: absolute;
    right: 0;
    font-size: 2vw;
    margin-right: 4vw;
}

.titulosH2 a{
    text-decoration: none;
    color: black;
}

.titulosH2 a:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.651);
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.produtos img{
    background-color: gray;
    width: 18vw;
    height: 24vw;
    margin: auto;
}

#margem{
    margin-bottom: 12vw;
}

@media screen and (max-width:768px){

    #margem{
        margin-bottom: 19vw;
    }

    .titulosH1{
        margin-left: 1vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        font-size: 3vw;
    }
    
    .titulosH2{
        margin-top: 3vw;
        margin-bottom: 3vw;
        position: absolute;
        right: 0;
        font-size: 3vw;
        margin-right: 4vw;
    }

}

